@import "@/globals.scss";

.profile_header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;

  h3 {
    @include Title2-SB;

    color: $--Black;
  }

  p {
    @include Body2-R;

    color: $--gray-500;
  }
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $--gray-300;
    border-radius: 10px;
  }

  scrollbar-width: thin;
}

.form_body {
  flex-grow: 1;
  overflow-y: unset;
}

.upper_container {
  padding: 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.divider {
  width: 100%;
  height: 8px;

  background-color: $--gray-50;
}

.lower_container {
  padding: 22px 16px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.button_container {
  margin-top: auto;
}

.fieldset {
  position: relative;
}

.fieldset_title {
  margin-bottom: 6px;

  display: flex;
  align-items: baseline;
  gap: 4px;

  & > p {
    @include Title2-M;
  }

  & > span {
    @include Body5-R;

    color: $--Primary-blue;
  }
}

.error_container {
  position: absolute;

  left: 50%;
  bottom: 86px;

  transform: translate(-50%);

  .error_message {
    width: fit-content;

    margin: 0 auto;
    padding: 13px 18px;

    border-radius: 10px;
    border-bottom: 1px solid $--Cancel;

    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: 20px;

    white-space: nowrap;

    & > p {
      color: $--Cancel;
    }
  }
}
