@import "@/globals.scss";

.memberList {
  padding: 16px;
  background-color: $--White;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  h4 {
    @include Title3-SB;
    margin-bottom: 16px;
    color: $--Black;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .memberItem {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: $--Chips;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0;
    }

    .memberInfo {
      justify-content: center;
      flex-grow: 1;

      p {
        margin: 0;
        @include Body3-R;
        color: $--gray-900;

        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}
