@import "@/globals.scss";

.memberList {
  padding: 16px;
  background-color: $--White;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  h4 {
    @include Title3-SB;
    margin-bottom: 16px;
    color: $--Black;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .memberItem {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: $--Chips;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-bottom: 0;
    }

    .memberInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      p {
        margin: 0;
        @include Body3-R;
        color: $--gray-900;

        &:first-child {
          margin-bottom: 5px;
        }
      }
    }

    .lectureDateInput {
      position: relative;
      z-index: 10;
      input {
        margin-left: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $--gray-300;
        font-size: 14px;
        color: $--Black;

        &:focus {
          outline: none;
          border-color: $--Primary-blue;
        }
      }
    }

    .moveSlotButton {
      button {
        margin-left: 10px;
        padding: 8px 12px;
        border: none;
        border-radius: 8px;
        background-color: $--Primary-blue;
        color: $--White;
        cursor: pointer;

        &:hover {
          background-color: darken($--Primary-blue, 10%);
        }

        &:focus {
          outline: none;
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
