@import "@/globals.scss";

.container {
  width: 100%;
  height: 100vh;

  position: fixed;
  bottom: 0;
  left: 0;

  background: #ffffff;

  border-radius: 16px 16px 0 0;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  .top_btn {
    width: 100%;
    height: 4px;

    padding-top: 10px;
    padding-bottom: 5px;

    div {
      width: 30px;
      height: 4px;

      margin: 0 auto;

      background-color: $--gray-300;

      user-select: none;
      pointer-events: none;
    }
  }

  .info {
    @include Title3-SB;

    padding: 0 16px;
    margin-bottom: 16px;

    display: flex;
    gap: 1px;

    .date {
      @include Title3-M;

      color: $--Black;
    }

    .date.blue {
      color: $--Primary-blue;
    }

    .date.red {
      color: $--Cancel;
    }
  }

  .list {
    flex-grow: 1;

    padding: 10px 16px;

    display: flex;
    flex-direction: column;

    gap: 14px;

    overflow-y: scroll;
  }

  .memberList {
    padding: 16px;
    background-color: $--White;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    h4 {
      @include Title3-SB;
      margin-bottom: 16px;
      color: $--Black;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .memberItem {
      display: flex;
      align-items: center;
      padding: 12px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: $--Chips;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

      &:last-child {
        margin-bottom: 0;
      }

      .profileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px;
      }

      .defaultProfileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $--gray-200;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $--gray-600;
        margin-right: 12px;
        font-size: 12px;
      }

      .memberInfo {
        flex-grow: 1;

        p {
          margin: 0;
          @include Body3-R;
          color: $--gray-900;

          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
